@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

body {
  margin: 0;
  background: #16121f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}